*{
    margin: 0;
    scroll-behavior: smooth;
}
body{
    background: #101d3f;
    color: aliceblue;
    font-family: 'Josefin Sans', sans-serif;
    max-height: 100vh;
    overflow-x: hidden;
    margin: 0;
  }

.wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main{
  flex: 1 1 auto;
}

.navbar__items{
    display: flex;
    justify-content: space-around;
    text-align: center;
    min-width: 100%;
    height: 10vh;
    border: 1px solid rgba(0, 0, 0, 0.537);
    box-shadow: 5px 5px 5px 5px  #157494;
    opacity: 1;
}

a{
    text-decoration: none;
    font-size: 3vw;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}
.navbar__box{
    flex: content;
    padding: 20px;
}
.navbar__box:hover{
    background-color: #157494;
    box-shadow: 0px 3px 5px 0px rgba(7, 7, 7, 0.651) inset;
}

.main__box{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.main__foto_img{
    width: 100%;
    padding: 3px;
    border: 5px solid #157494;
    border-radius: 50%;
    opacity: 1;
}
.main__foto{
    display: flex;
    justify-content: center;
    width: 30%;
    padding: 30px;
    margin: 20px;
}
.main__text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    text-align: center;
    line-height: 1.5;
    padding: 10px;
    margin: 20px;
}
.main__text_info{
    font-size: 2vw;
}
.main__text_follow, .skills__header, .contacts__header{
    font-size: 3vw;
    text-align: center;
    opacity: 1;
}
.contacts__header{
  margin-top: 120px;
}
.main__text_follow{
  margin-bottom: 6vh;
}
/*SWIPER*/
.swiper-container {
    margin-top: 10px;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 80px;
    display: flex;
    overflow-x: hidden;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 50em;
    height: 25em;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0006);
    position: relative;
}
.swiper-slide:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(47, 47, 47, 0.883); 
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.swiper-slide:hover:before {
    opacity: 1;
}
.swiper__show {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    opacity: 0;
    color: white;
    transition: opacity 0.8s ease-in-out;
}
.swiper-slide:hover .swiper__show {
    opacity: 1;
}
.swiper__button{
    margin: 8vw;
    padding: 25px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3vw;
    border: none;
    background-color: #157494;
    border-radius: 25px;
    color: white;
}
.swiper__button:hover{
    box-shadow:  10px -10px 40px #157494,
    -10px 10px 40px #157494;
    transition: 0.3s ease;
}
.swiper__title, .swiper__used{
    margin-top: 3vh;
    font-size: 1.5vw;
}


/*Skills*/

.skills__container{
    display: flex;
    justify-content:center;
    text-align: center;
}
.skills__header{
    padding: 50px;
    margin-top: 10vw;
    margin-bottom: 20px;
}
.skills__foto{
    width: 15vw;
}
.box h2{
  font-size: 2vw;
}

/*Form*/
.form-container {
  background-color: #157494;
  box-shadow: 0px 3px 5px 0px rgba(7, 7, 7, 0.651) inset;
    border: 2px solid transparent;
    padding: 80px 50px;
    font-size: 1vw;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
  }
  
  .form-container button:active {
    scale: 0.95;
  }
  
  .form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
  }
  
  .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: white;
    font-weight: 600;
    font-size: 2.5vw;
  }
  
  .form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
  }
  
  .form-container .form-group textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: #fff;
    height: 96px;
    border: 1px solid #414141;
    background-color: transparent;
    font-family: inherit;
  }
  
  
  .form-container .form-submit-btn {
    display: flex;
    justify-content: center;
    align-self: flex-start;
    color: white;
    width: 100%;
    background: #101d3f;
    border: 1px solid #414141;
    padding: 12px 16px;
    font-size: 2vw;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
  }
  
  .form-container .form-submit-btn:hover {
    background-color: white;
    border-color: #157494 ;
    color: #101d3f;
  }

  .form__mainContainer{
    display: flex;
    justify-content: center;
  }

.footer{
  margin-top: 40px;
  padding: 10px;
  background-color: #157494;
}
.footer__container{
  display: flex;
  justify-content: space-evenly;
}
h4, p{
  margin-top: 5px;
  text-align: center;
}
.icons8{
  font-size: 10px;
}

  @media all and (max-width: 950px){
    .swiper-slide {
      width: 40em;
      height: 20em;
    }
  }
  @media all and (max-width: 770px){
    .navbar__items{
      height: 5vh;
  }
  .main__text_follow, .skills__header, .contacts__header{
    font-size: 4vw;
}
    .swiper-slide {
      width: 30em;
      height: 15em;
    }
    .swiper__button{
      margin: 4vw;  
    }
    .swiper__title, .swiper__used{
      margin-top: 2vh;
      font-size: 3vw;
  }
  }
    @media all and (max-width: 450px){
      .navbar__items{
        height: 5vh;
    }
      .main__box{
        flex-direction: column;
        justify-content: center;
       align-items: center;
    }
    .main__text_info{
      font-size: 5.5vw;
  }
      .swiper-slide {
        width: 20em;
        height: 10em;
      }
      .swiper__button{
        padding: 15px;
        font-size: 4vw;
        margin: 3vw;
      }
      .swiper__title, .swiper__used{
        margin-top: 1vh;
        font-size: 3vw;
    }
    .form-container .form-group label {
      font-size: 4vw;
    }
  }